.template{
    visibility:hidden;
}

.actions{
    float: right;
}
.dino{
    clear:both;
}
.eats{
    display:inline-block;
    margin-left:20%;
}
.color {
    border-style:solid;
    border-color:black;
    background-color:red !important;
}

ul li {
    list-style:none;
    color:white;
    cursor:pointer;
    position:relative;
    padding:12px 8px 12px 40px;
    margin-right:40%;
    background-color: darkgreen;
    font-size:18px;
    transition:0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd){
    background-color:green;
}

ul li:hover{
    background-color:grey;
    border:solid;
    border-color: yellow;
}
